{% extends 'login_app/base.html' %}
{% load static %}

{% block bodyblock %}
  <div class="jumbotron">
    {% if registered %}
      <h1>Regitraion Successfull</h1>
    {% else %}
      <h1>Please Register!</h1>
      <h3>Fill out the form in here:</h3>

      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">
      </form>
    {% endif %}
  </div>

{% endblock %}
